:root {
  --green: rgb(0, 211, 0);
}

body {
  padding: 30px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#tv {
  position: relative;
  content: "";
  display: block;
  margin: 0 100px 30px;
  height: calc((100vw - 700px) / 1.6);
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#remote {
  margin: 0 100px;
}

.channelNo {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 40px;
  font-weight: bold;
  color: var(--green);
}

.name {
  font-size: 70px;
  color: #323232;
}

button {
  padding: 10px 20px;
  background: #4745e6;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

input {
  padding: 10px 20px;
  background: #323232;
  border-radius: 10px;
  color: white;
  border: none;
}

#volume {
  position: absolute;
  content: "";
  left: 30px;
  bottom: 30px;
  color: var(--green);
  font-size: 30px;
}

.volumeBrick {
  content: "";
  display: inline-block;
  height: 30px;
  width: 10px;
  background: var(--green);
  margin-right: 5px;
}

.soundControls {
  display: inline-block;
}

.soundControls button {
  background: red;
}
